@import "color.scss";

.profile-container{
    height: 100%
}

.profile-userinfo{
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // background: grey;
}

.profile-avatar{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}

.profile-avatar-container{
    width: 15vh; /* 20% of the viewport width */
    height: 15vh;
    border-radius: 100%;
    border-color: $Primary-Light;
    border-style: solid;
    border-width: 10px;
}

.profile-username{
    font-family: 'Source Sans Pro';
    font-size: 6vh;
    color: $Primary-Neutral;
}

.profile-email{
    display: flex;
    flex-direction: row;
    height: 4vh;
    color: $Primary;
    font-size: 3vh;
    font-family: 'Source Sans Pro';
}

.profile-email-logo{
    display: inline;
    margin-right: 15px;
    height: 4vh;
}

.profile-tab-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
}

.profile-tab-wrapper .profile-tab-radio{
  display: none;
}

.profile-tab-handler{
  display: block;
  height: 60px;
  padding-left: 10px;
  color: #8C8C8C;
  font-size: 2vh;
  line-height: 60px;
  // background-color: #D5EF7F
}
.profile-tab-radio:checked + .profile-tab-handler{
  color: $Complement-Dart-1;
  // background-color: #e74c3c;
  transform: scale(1);
}

.profile-no-activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.profile-noActivity-img{
    width: 12.5vh;
    height: 12.5vh;
}

.profile-noActivity-word{
    font-family: 'Source Sans Pro';
    font-size: 4vh;
    color: #BABABA;
}

.profile-tab-img{
    height: 2vh;
    width: 2vh;
}

.profile-single-tab-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
